/* websocket_control.css - стили для дополнительных кнопок управления WebSocket */
.menufeed {
	position: relative;
	display: inline-block;
}

.menufeed:before {
	content: "\f1da";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	padding-right: 0.2em;
}
.menufeed.realtime:before {
	/* content: "\f1eb"; */
	/* content: "\f1da"; */
	color: rgb(192, 240, 30);
}

.menufeed.connecting:before {
	color: #f4ca22;
	content: "\f127";
}
.menufeed.reconnecting:before {
	color: #f85b18;
	content: "\f127";
}

.menufeed.ajax:before{
	color: #ffffff;
	/* content: "\f1da"; */
}




