/* websocket_control.css - стили для дополнительных кнопок управления WebSocket */

.menuwebsocket:before {
	content: "\f1eb";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	padding-right: 0.2em;
}
.menuwebsocket-connected:before {
	color: rgb(192, 240, 30);
}
a.menuwebsocket-disconnected,.menuwebsocket-disconnected:before {
	/* color: #dc2045; */
}
.menuwebsocket-connecting:before {
	color: #f4ca22;
	content: "\f127";
}

.menuwebsocket-disconnected:before{
	content: "\f127";
	color: #e85110;
}

.menuwebsocket
{ 
	position: relative;
	display: inline-block;
}


